<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.c3.pcust30">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.InitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSwipeBackTheme"/>
        <!-- 登录界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 手势密码设置和解锁界面 -->
        <activity
            android:name=".activity.GesturePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSwipeBackTheme" />
        <!-- 重置密码界面 -->
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSwipeBackTheme" />
        <!-- 忘记密码界面 -->
        <activity android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSwipeBackTheme"/>
    </application>

</manifest>